<h3>Today's Recommended Products for You</h3>
<ul>

<%@items.each do |item|%>

<div> <%=image_tag(item.img_url)%></div>

 <li><%=item.item_name%> 
 - 
 $<%=item.price%>: Add to cart
 </a>
 <br></br>
 </li>
<%end%>

</ul>