<h3>Today's Recommended Products for You</h3>
<ul>

<%@items.each do |item|%>

<div> <%=image_tag(item.img_url)%></div>

 <%=item.item_name%> - $<%=item.price%> 
 : <%=link_to 'Product page', item_path(item.id) %>
 
 <%end%>
 


</ul>